* {
    padding: 0;
    margin: 0;
    font-family: inter;
}
.container {
    display: grid;
    place-content: center;
    margin-top: 100px;
}
.calculatorBody {
    padding: 20px;
}
.input-sec {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-sec label {
    margin-bottom: 8px;
}
.num-people {
    font-size: 0.8rem;
}
.total-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#totalAmountPerPerson {
    text-align: right;
}
.total-title {
    font-size: 0.8rem;
    text-align: right;
}